@charset "UTF-8";

@font-face {
  font-family: "galileo-v2";
  src:url("../fonts/galileo-v2.eot");
  src:url("../fonts/galileo-v2.eot?#iefix") format("embedded-opentype"),
url("../fonts/galileo-v2.woff") format("woff"),
url("../fonts/galileo-v2.ttf") format("truetype"),
url("../fonts/galileo-v2.svg#galileo-v2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "galileo-v2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "galileo-v2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\61";
}
.icon-fork:before {
  content: "\62";
}
.icon-person:before {
  content: "\63";
}
.icon-phone-call:before {
  content: "\64";
}
.icon-phone-circle:before {
  content: "\65";
}
.icon-pointer:before {
  content: "\66";
}

