@charset "utf-8";

/* Ticker */
.modern-ticker {
	color: #fbac18;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 27px;
	/* [disabled]background-color: #fafafa; */
}

/* Label */
.mt-label {
	background-color: #0099ff;
}

/* News */
.mt-news {
}
.mt-preloader {
	background: url("images/preloader-black.gif") no-repeat center;
}
.mt-news ul {
}
.mt-news a {
    color: #939598;
    /* [disabled]background-color: #dedede; */
    background-image: url(../../../Sources/themes/bullet-over-fafafa.png);
    font-size: 17px;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.mt-news a:hover {
	color: #fbac18;
	border-left-color: #ff2200;
	border-right-color: #ff2200;
	border-bottom-color: #ff2200;
}
.mt-news a:active {
	background-color: #0077ff;
}
.mt-error {
	color: #000;
}

/* Controls */
.mt-controls {
	/* Preload */
	background-image: url("images/pause-fafafa.png");
}
.mt-prev,
.mt-next {
	background-color: #0099ff;
}
.mt-prev {
	background-image: url("images/prev-fafafa.png");
}
.mt-next {
	background-image: url("images/next-fafafa.png");
}
.mt-play {
	background-color: #00bbff;
	background-image: url("images/play-fafafa.png");
}
.mt-pause {
	background-image: url("images/pause-fafafa.png");
}
.mt-play:hover,
.mt-prev:hover,
.mt-next:hover {
	background-color: #ff2200;
}
.mt-play:active,
.mt-prev:active,
.mt-next:active {
	background-color: #ff4400;
}
